.container {
    display: grid;
    grid-template-columns: 88px 1fr;
    gap: 10px;
}
.image {
    grid-row: span 2;
}
.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.content a {
    margin-right: 10px;
}
.content p {
    width: 100%;
}
